@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Urban Vibe Roastery</h1>
    <p class="lead">
       <p> Speciality coffee is defined as any coffee that scores above 80 points on a 100 point scale.<br /></p>
       <p> Typically, speciality coffee is grown at high altitudes, with much care and attention from the farmer. From there, it is sold at a premium to coffee traders, or direct to roasters.<br /></p>
       <p>The roasters then create custom profiles for each coffee, enhancing and highlighting their natural flavours.<br /></p>
       <p>  Baristas then use the carefully grown and roasted coffee to produce quality beverages, often with high precision and specialised equipment.<br /></p>
    
    <p><a href="https://ico.org/" class="btn btn-primary btn-lg">Follow Internatinal Coffee Organization for latest news about coffee &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coffee</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tea</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>